<h1>Listing donations</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Donation date</th>
    <th>Donor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.amount %></td>
    <td><%= donation.donation_date %></td>
    <td><%= donation.donor.name %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donation', new_donation_path %>
