<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Donation date:</b>
  <%= @donation.donation_date %>
</p>

<p>
  <b>Donor:</b>
  <%= @donation.donor.name %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
